#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.movie_head{
    font-size: 24px;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 15px;
    width: 100%;
    
}
.down_arrow{
    float: right;
}
.Movie_text span {
color: #f7d302;
}
.Movie_text{
    font-size: 25px;
}
